<h1>About 1Size</h1>
<p>Ever found yourself at the store and you discover a must have for that special some one and you can't figure out the right size? I definitely have! 
</p>
<p>We all know that people change, their likes do to, as well as their bodies... 
</p>
<p>It is from this story and countless others that the 1Size project was born. 
</p>
<p>In a nutshell, this application is here to aid your memory when trying to remember everyone's size chart. 
</p>
<p> Sign up and start tracking today! 
</p>


