<h1>About 1Size</h1>

<p>Ever discover a must have for that special someone and you couldn't figure what size to purchase? I sure have! 
</p>

<p>This is how the 1Size project was born. 
</p>

<p>This application will help you in your quest to finding the perfect size. 
</p>

<p> So start tracking today! 
</p>


