<h1>About 1Size</h1>
<p>Have you ever found yourself at the store and discover a must have for your folks or your buddy? 
</p>
<p>Well I definitely have!
</p>
<p>We all know that people change, their likes do to as well as their bodies... It is from this experience and countless other ones is how the 1Size project was created. 
</p>
<p>Essential the idea behind this application is to aid your memory when it comes to remembering everyone's clothing and accessory size chart. 
</p>
<p> You are on the path to the perfect fit!
</p>
<p> Sign up, if you haven't already done so, and start tracking today! 
</p>


