<h1>About 1Size</h1>
<p> Have you ever found yourself at the store and you discover a must buy for your folks or your buddy? Well I have! People change, bodies change... From this experience and countless other ones is how the 1Size project was created. 
</p>
<p> The idea behind this application is to aid your memory when it comes to remembering everyone's clothing and accessory size chart. 
</p>
<p> So don't go anywhere ... Sign up, if you haven't already, and start tracking even your own sizes and share that with your family and friends. 
</p>


