<body>
  <div class="container">
<h1>About</h1>
&nbsp;
<p>Ever discover a must have for a special someone and couldn't figure what size to buy? 
</p>
<p>The 1Size project is here to help in your quest to finding the perfect size. 
</p>
&nbsp;
<p> So start tracking today! 
</p>
  </div>
</body>