<% if user_signed_in? %>
	<h1> You're logged in!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to 1Size!</h1>
		<p>
			This app will allow you to track those sizes you may need before purchasing that special gift. 
		</p>
		<p>
			Don't remember you parent's shoe size or your girlfriend's hat size? 
		</p>
		<p>
			By creating a free account you will be one step closer to revelaing that perfect fit. 
		</p>	
		
		<p>
			<%= link_to "Don't Be Shy & Sign Up!", new_user_registration_path, class: "btn btn-success btn-large" %>
		</p>
	</div>
<% end %>

