<% if user_signed_in? %>
	<h1> You're logged in!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to 1Size!</h1>
		&nbsp;
		&nbsp;
		<p> You're on the path to the perfect fit!
		</p>
		&nbsp;
		<p> Don't remember you parent's shoe size or your girlfriend's hat size? 
		</p>
		&nbsp;
		<p> Soon everyone will thank you for purchasing their exact size!
		</p>
		&nbsp;
		<p>
			<%= link_to "Don't Be Shy & Sign Up!", new_user_registration_path, class: "btn btn-success btn-large" %>
		</p>
	</div>
<% end %>

